.contentWidthFollower {
    _position: absolute;
    top: 10px;
    left: 10px;
    _background-color: #ffeb3b4f;
    display: block;
    _outline: 1px solid cyan;
    _height: 100px;
    width: 50%;
    z-index: 1001;
}