.mediaViewer.bg {
    background-color: #53009fe3;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}

.mediaViewer .btn {
    background-color: transparent;
    width: 70px;
    height: 70px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    line-height: 70px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.mediaViewer .btn.close {
    right: 15px;
    position: absolute;
    top: 15px;
}

.mediaViewer .btn:hover {
    background-color: cyan;
}

.mediaViewer .btn.next {
    position: absolute;
    top: calc(50% - 35px);
    right: 0;
}

.mediaViewer .btn.previous {
    position: absolute;
    top: calc(50% - 35px);
    left: 0;
}

.mediaViewer .btn-picture.next {
    position: absolute;
    top: calc(50% - 35px);
    right: 0;
}

.mediaViewer .btn-picture.previous {
    position: absolute;
    top: calc(50% - 35px);
    left: 0;
}

.layer-next{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: 50%;
}

.layer-previous{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: 0%;
}

.mediaViewer .image-debug  {
    width: fit-content;
    float: right;
    font-size: 14px;
    color: #8BC34A;
    line-height: 20px;
    bottom: 0;
    position: absolute;
    margin: 10px;
    background-color: rgb(5 35 50);
    padding: 5px;
    right: 0;
    text-align: left;
    border: 1px solid red;
}

.mediaViewer .image-debug b {
    color: orange;
}

.pixelated {
    image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED */
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast; /* CSS3 Proposed */
    -ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}

.mediaViewer .title {
    position: absolute;
    color: azure;
    text-shadow: 0 1px 0 black;
}

.mediaViewer .info {
    position: absolute;
    color: #FFC107;
    text-shadow: 0 1px 0 black;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    left: 15px;
    top: 15px;
    line-height: 24px;
    border-radius: 7px;
}

.mediaViewer.error {
    width: 300px;
    height: 200px;
    background-color: black;
    line-height: 200px;
    text-align: center;
    color: red;
    display: block;
    z-index: 1000;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border: 2px solid white;
}

.mediaViewerBgColor{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block; 
}

.mediaViewerGradientBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;  

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */

    /*
    background: #feccb1;
    background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
    background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
    background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );
    */

    /*
    (top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 100%);
    (top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
    (to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
    ( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 );
    */
}