.labelItem{
    position: absolute;
    transition: all 0.5s;
    list-style: none;
    line-height: 65px;
    display: inline-block;
    color: #000000;
    font-size: 37px;
    font-weight: 400;
    text-align: left;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 60px;
}

.label{
    list-style: none;
    line-height: 65px;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    display: inline-block;
    background-color: #e8e8e8;
    line-height: 39px;
    height: 36px;
    padding: 0 16px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    width: auto;
    top: 0px;
    margin: 0;
    text-shadow: 0 1px white;
}