.landingGridStyle {
  margin-top: 300px;
  background-color: thistle;
  position: relative;
}

.pictureFrame {
    background-color: black;
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.frameString{
    display: inline-block;
    margin-top: 350px;
    position: relative;
    background-color: crimson;
    outline: 2px solid green;
    left: 15%;
}