.landingGridStyle {
  margin-top: 300px;
  _background-color: thistle;
  position: relative;
}

.pictureFrame {
    _background-color: black;
    width: 200px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.galleryGrid{
    display: block;
    position: relative;
    _background-color: crimson;
    _outline: 2px solid green;
}