.gridItem{
    position: relative;
    display: inline-table;
    _background-color: cornflowerblue;
    width: 210px;
    height: 250px;
    overflow: hidden;
    transition-duration: 0.4s;
    transform-origin: 50% 50%;
    cursor: pointer;   
}

.gridItem:hover {
    z-index: 100;
}

.gridItem._show_border:hover  {
    outline: 2px solid yellow;
}

.gridItem._show_zoom:hover {
    transform: scale(1.05);
}

.gridItem._show_shadow:hover {
    box-shadow: 0 0 10px 5px blue;
}

.gridItem._show_translucent:hover img {
    opacity: 0.5;
}

.gridItem._show_overlay:hover .overlay{
    opacity: 0.5;
}

.gridItem._show_overlay_text:hover .overlayText{
    opacity: 1;
}

.gridItem .overlay {
    transition-duration: 0.4s;
    opacity: 0;
}

.gridItem .overlayText {
    _background-color: transparent;
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-shadow: 0 1px 0 black;
    opacity: 0;
    transition-duration: 0.4s;
    top: 0;
}

.gridItem .overlayText span {
    width: 12px;
    height: 1px;
    _background-color: white;
    margin: 4px;
    display: inline-block;
}

.gridItem:hover .foreverBrandBanner,
.gridItem:hover .brandBanner,
.gridItem:hover .brandBanner .animation{
    display: block;
    opacity: 1;
}

.gridItem .image-debug {
    color: yellow;
    _background-color: #031160;
    font-size: 11px;
    padding: 0px 5px;
    text-align: right;
    width: fit-content;
    float: right;
    position: absolute;
    line-height: 12px;
    bottom: 0;
    margin: 0;
}

.gridItem .arrIndex {
    display: block;
    z-index: 300;
    position: absolute;
    left: 0;
    width: auto;
    color: yellow;
    font-size: 14px;
    font-weight: bold;
    _background-color: blue;
    padding: 1px 5px;
    top: 0;
}

.hoverOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.gridItem:hover .hoverOverlay{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}

.gridItem .videoIco{
    position: relative;
    top: -30px;
    left: -30px;
    
}