.wideItem{
    position: relative;
    display: inline-table;
    _background-color: cornflowerblue;
    width: 210px;
    height: 250px;
}

.wideItem:hover {
    outline: 1px solid yellow;
    box-shadow: 0 0 10px 5px blue;
    transform-origin: 50% 50%;
    transform: scale(1.05);
    cursor: pointer;
    z-index: 100;
}

.wideItem:hover img{
    opacity: 0.5;
}

.wideItem:hover .foreverBrandBanner,
.wideItem:hover .brandBanner,
.wideItem:hover .brandBanner .animation{
    display: block;
    opacity: 1;
}

.wideItem .arrIndex {
    display: block;
    z-index: 300;
    position: absolute;
    left: 0;
    width: auto;
    color: yellow;
    font-size: 14px;
    font-weight: bold;
    _background-color: blue;
    padding: 1px 5px;
}