.ui-ico {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0;
    padding: 0;
    _background-color: #673AB7;
    background-color: transparent;
    position: relative;
    background-size: 32px 32px;
    display: inline-block;
    float: left;
}

.ui-ico:hover {
    background-color: aqua;
}

.eye {
    background-image: url(./../../images/eye.svg);
    cursor: pointer;
}

.arrow-right{
    background-image: url(./../../images/arrow-right.svg);
    cursor: pointer;
}

.arrow-left{
    background-image: url(./../../images/arrow-left.svg);
    cursor: pointer;
}

.btn-close{
    background-image: url(./../../images/btn-close.svg);
    cursor: pointer;
}