.ui-ico {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: relative;
    background-size: 32px 32px;
    display: inline-block;
}

.ui-ico:hover {
    _background-color: aqua;
}

.eye {
    background-image: url(./../../assets/images/eye.svg);
    cursor: pointer;
}

.arrow-right{
    background-image: url(./../../assets/images/arrow-right.svg);
    cursor: pointer;
}

.arrow-left{
    background-image: url(./../../assets/images/arrow-left.svg);
    cursor: pointer;
}

.btn-close{
    background-image: url(./../../assets/images/btn-close.svg);
    cursor: pointer;
}

.btn-hamburger{
    background-image: url(./../../assets/images/hamburger.svg);
    cursor: pointer;
}

.closeWindow{
    background-image: url(./../../assets/images/btn-close-black.svg);
    cursor: pointer; 
}

.video-item{
    background-image: url(./../../assets/video-item-play.svg);
    cursor: pointer; 
}

.no-picture{
    background-image: url(./../../assets/images/image.svg);
    cursor: pointer; 
}

.folder-item{
    background-image: url(./../../assets/images/folders/blue-folder-icon-256x256.svg);
    cursor: pointer;   
}

.folder-icon{
    background-image: url(./../../assets/images/folders/folder-icon_black-border_256x256.svg);
    cursor: pointer;  
}