/* light theme */

body.light-theme {
    background-color: rgb(231 231 231);
}

.light-theme .gradient {
    width: 100%;
    height: 100%;
    z-index: -2;
    background: none;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
}

.light-theme .debugColumn {
    outline: 0px solid #ffe500 !important;
}

.light-theme .goToTopbutton {
    background-color: #d3d3d3;
    color: #000000;
}

.light-theme .goToTopbutton:hover {
    background-color: #fff;
    box-shadow: 0 0 15px 2px black;
}

.light-theme .galleryGrid {
    background-color: none;
    outline: 0px;
}

.light-theme .gridItem{
    _box-shadow: 0px 0px 7px 3px #fff;
    border-radius: 2px;
    background-color: transparent !important;
}

.light-theme .gridItem .imageItem{
    border-radius: 2px;
    _background-color: transparent;
    background-color: #ffffff80;
    border-radius: 5px;
}

.light-theme .gridItem:hover {
    outline: 0px;
    box-shadow:none;
    transform: scale(1.07);
    transition: all;
    transition-duration: 0.4s;
}

/* --- item footer --- */

.light-theme .itemFooter {
    background-color: transparent;
}

.light-theme .itemFooter .title {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 214px;
    font-size: 14px;
    color: #393939;
    top: -3px;
    position: relative;
    text-transform: uppercase;
    font-style: italic;
}

.light-theme .itemFooter .date {
    background-color: transparent;
    position: relative;
    top: -7px;
    color: #9E9E9E;
}

/* --- About Info --- */

.light-theme .aboutInfoSmall {
    left: 15px;
    width: calc( 100% - 30px );
    line-height: 40px;
    _background-color: aqua;
    padding: 0;
    height: 50px;    
}

.light-theme .authorName {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.light-theme .aboutInfo{
    background-color: white;
}

/* .light-theme .aboutInfo .authorName:hover{
    background-color: white;
} */

.light-theme .informationSection {
    background-color: white;
}

.light-theme .informationGroup {
    margin-bottom: 30px;
    margin-right: 50px;
}

.light-theme .aboutInfo .pictureFrame {
    background-color: white;
}

/* --- About Info --- fin --- */

/* --- Picture Viewer --- ini --- */
.light-theme .imageCropper{
    background-color: rgb(212, 212, 212) !important;
}
/* --- Picture Viewer --- end --- */

/* --- MENU --- ini --- */

.light-theme .top-menu {
    padding: 0;
    z-index: 2000;
    width: fit-content;
    position: relative;
    right: 0;
    top: 10px;
    text-align: right;
    margin: auto;
    background-color: transparent;
    background: transparent;
}

.light-theme .bottom-menu {
    background: white;
}

.light-theme .aboutInfoSmall .authorName .right:hover{
    font-weight: 900;
    right: -1px;
}

.light-theme .aboutInfoSmall .authorName .left:hover{
    font-weight: 900;
    right: 1px;
}

.light-theme .menu-item{
    background: transparent;
    border: 0;
    color: #525252;
    text-shadow: unset;
    font-weight: 500;
    padding: 0 7px;
    line-height: 33px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    border-bottom: 1px solid transparent;
}

.light-theme .menu-item:hover{
    font-weight: 900;
    color: black;
}

.light-theme .hamburger-content {
    background-color: rgb(255 255 255 / 94%);
}

.light-theme .hamburger-icon {
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    right: -45px;
}

.light-theme .hamburger-icon .btn-hamburger {
    width: 40px !important;
    height: 40px !important;
    background-size: 40px !important;
    float: left;
    position: relative;
    top: 0;
}

@media (max-width: 1024px) {

    .light-theme .menu-item {
        font-weight: 300;
        line-height: 55px;
        font-size: 35px;
        border-bottom: 1px solid #d7d7d7;
    }

    .light-theme .menu-item:hover {
        font-weight: 400;
        background: white;
        transform: scale(1.3);
        transition: all;
        transition-duration: 0.2s;
        border-top: 1px solid #d7d7d7;
    }
}
/* --- MENU --- fin --- */