/*
    Desktop HD: 1200px
    Desktop: 1000px
    Tablet: 750px
    Phablet: 550px
    Mobile: 400px
*/

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
    body {
        background-color: red;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    body {
        background-color: cyan;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    body {
        background-color: green;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    body {
        background-color: blue;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    body {
        background-color: yellow;
    }
}