<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Gallery WEB Site 2020</title>
    <script src="./config_DEBUG.js"></script>
    <script src="./config_SITE.js"></script>
    <link rel="stylesheet" href="custom.css">
</head>
<body class="default-theme">
    <div id="root"></div>    
    <script>
        //document.documentElement.setAttribute('data-theme', 'default-theme');
    </script>
</body>
</html>